# Macs...
.DS_Store
**/.DS_Store

# Eclipse
.classpath
.project
.settings/
bin/

# Gradle
build/
.gradle

# IDEA
.idea

# Logging
log.txt

# Teh Googs might not want us distributing these
zipalign
aapt

# Test APKs
*.apk
